body.rise-enabled div.inner_cell>div.text_cell_render.rendered_html {
    font-size: 90%;
}
div.inner_cell>div.text_cell_render.rendered_html>pre {
    margin: 0px;
}
div.inner_cell>div.text_cell_render.rendered_html>pre>code {
    font-size: 90%;
}

